.logo-container {
  text-align: center;
  margin: 20px 0;
}

.main-text {
  font-family: "Poppins" serif;
  color: #ffffff;
  font-size: 4rem;
  margin: 0;
}

.sub-text {
  font-size: 1rem;
  margin: -10px;
  color: #ffffff;
  font-family: "Poppins", serif;
  font-weight: 450;
  font-style: italic;
  padding-left: 80px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(50deg, #38a1ec, #f39d5c, #f97fe6);
  background-size: 300% 300%;
  animation: gradient 12s ease infinite;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-content {
  max-width: 200mm;
  margin: 20px 0;
}

.generate-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #0056b3;
}

.text {
  font-family: "Poppins" serif;
  color: #fff;
  font-weight: 600;
}

.url-input::placeholder {
  font-family: "Poppins" serif;
  color: #ffffff;
}

.url-input {
  font-family: "Poppins" serif;
  width: 200mm;
  height: 40px;
  border-radius: 18px;
  padding-left: 15px;
  border-style: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 200;
  font-size: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.125);
}

.upload-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px;
}

.accepted-formats {
  font-family: "Poppins" serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.upload-button {
  font-family: "Poppins" serif;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.125);
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: 16.5rem;
}

.upload-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
